@inherits LayoutComponentBase

<div class="col-lg-8 mx-auto p-4 py-md-5">
    <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
        <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
            <img class="header-logo" src="images/header-logo.png"/>
            <span class="fs-4">Wondrous Tails Builder</span>
        </a>
    </header>

    <main>
        @Body
    </main>
</div>