@page "/"
@inject WTService WTService
@inject NavigationManager NavigationManager

<div class="container py-4">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">It's time for Wondrous Tails!</h1>
            <p class="col-md-8 fs-4">Tired of asking people what they need to run? Create a party, share it with your friends, and let them add duties to your list.</p>
            <button class="btn btn-primary btn-lg" type="button" @onclick="CreateParty"><i class="bi bi-plus-circle"></i> Create a party</button>
        </div>
    </div>
</div>

@code{ 
    public void CreateParty()
    {
        var partyKey = WTService.AddParty();
        NavigationManager.NavigateTo($"/Party/{partyKey}");
    }
}